
<div class="container mb-5">
  <div class="row mt-5">
  <div class="col-lg-6 align-self-center">
    <div class="mb-5">
     <h5>Gallery Images</h5>
     <hr>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div  [ngClass]="is_flower? 'img-wrapper-active' : 'img-wrapper'" (click)="setFlowerActive()">
        <img class="img-fluid grid-img m-2" src="assets/images/flower.jpeg" alt="" srcset="">
      </div>
        <div class="text-center mt-2"><h5>Flowers</h5></div>
      </div>
      <div class="col-lg-3">
        <div [ngClass]="is_building? 'img-wrapper-active' : 'img-wrapper'" (click)="setBuidingsActive()">
        <img class="img-fluid grid-img m-2" src="assets/images/building.jpeg" alt="" srcset="">
      </div>
        <div class="text-center mt-2"><h5>Buildings</h5></div>
      </div>
      <div class="col-lg-3" >
        <div [ngClass]="is_animal? 'img-wrapper-active' : 'img-wrapper'" (click)="setAnimalsActive()">
        <img class="img-fluid grid-img m-2" src="assets/images/animal.jpeg" alt="" srcset="">
      </div>
        <div class="text-center mt-2"><h5>Animals</h5></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 border">
   <ng-container *ngIf="is_animal || is_building || is_flower; else displayImage">
   <app-animal *ngIf="is_animal"></app-animal>
   <app-buildings *ngIf="is_building"></app-buildings>
   <app-flowers *ngIf="is_flower"></app-flowers>
   </ng-container>
 
   <ng-template #displayImage>
    <div>
      <img class="img-fluid grid-img m-2" style="width: 100%; height: auto;" src="assets/images/building.jpeg" alt="" srcset="">
    </div>
   </ng-template>

  
  </div>
</div>
</div>

<!-- <router-outlet></router-outlet> -->
